html
  head
    title= title
    style
      include ./style.css
  body
    h1 404 :(
    p Nothing to see here! Please use your browser's back button to return from whence you came!
    a.button(type='button', href='/' ) Back to Home

